*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: impact, "Times New Roman", Times, serif;
}
section .h1 {

}

section {

}
article p {
  font-weight:100;
  font-size:150%;
}

footer {
  font-weight: bold;
  font-style:italic;
}
